@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
a {
	color: inherit;
}
.title,
.mainLink,
input,
button,
.name {
	font-family: 'Cinzel', serif;
}
input,
button,
.name {
	font-weight: bold;
}
.title {
	background: #070707;
	font-size: 50px;
	color: #dfb240;
	padding-top: 14px;
	padding-bottom: 8px;
}

.mainLink {
	color: #aa872f;
	background: #1a1919;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	font-size: 25px;
}
.mainLink:hover {
	background: #2e2c2c;
}
body {
	background: #8b8585;
	text-align: center;
}

input {
	font-size: 14px;
	border: 2px #505050 solid;
	text-align: justify;
	padding-left: 5px;
}
button {
	font-size: 14px;
	border: 1px solid;
	color: #000000;
	background-color: #ffffff;
}

.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 10px 20px;
}
.championImg {
	width: 150px;
	margin-top: 20px;
}
.championImg:hover {
	filter: brightness(70%);
}
@media (max-width: 1250px) {
	.container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
}
@media (max-width: 965px) {
	.container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 850px) {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
