@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
a {
	color: inherit;
}
.title {
	background: #1a1919;
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: #dfb240;
}
body {
	background: #8b8585;
	text-align: center;
}
.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.championImg {
	width: 150px;
	margin-top: 20px;
}
.championImg:hover {
	filter: brightness(70%);
}
@media (max-width: 1250px) {
	.container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
}
@media (max-width: 965px) {
	.container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 850px) {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

/* span {
	font-size: 27px;
	color: #a87f17;
	text-decoration: underline;
} */
